<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864043033815-4n7645idm205ojh7eapp2m6vpqoddnbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864043033815-4n7645idm205ojh7eapp2m6vpqoddnbn</string>
	<key>API_KEY</key>
	<string>AIzaSyBZIJATF9ln0ND3DKzm0VFKXma6czfPuh0</string>
	<key>GCM_SENDER_ID</key>
	<string>864043033815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jacob.MyEasyCryptoManager</string>
	<key>PROJECT_ID</key>
	<string>myeasycryptomanager</string>
	<key>STORAGE_BUCKET</key>
	<string>myeasycryptomanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864043033815:ios:a185b1870dbb0381983c92</string>
</dict>
</plist>
